@model ArizonaSignCompany.Models.Lift_Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lift_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift_Location)
        </dd>

        <dt>
            Start Time
        </dt>

        <dd>
            @((DateTime.Today+Model.start_time).ToString("h:mm tt"))
        </dd>

        <dt>
            End Time
        </dt>

        <dd>
            @((DateTime.Today+Model.end_time).ToString("h:mm tt"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift_Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift_Contact)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.lift_Id }) |
    @Html.ActionLink("Back to Dashboard", "Index","Dashboard")
</p>
