@using ArizonaSignCompany.Models;
@model IEnumerable<ArizonaSignCompany.Models.Request>

@{
    var tableName = "repair";
    var sortColumn = ViewBag.sortColumn;
    var sortDirection = ViewBag.sortDirection ?? false;
    var sortIconClass = "glyphicon-sort-by-attributes";
    if (ViewBag.sortDirection == true)
    {
        sortIconClass = "glyphicon-sort-by-attributes-alt";
    }
    ViewBag.Title = "Index";
    string newSortDirection = (!sortDirection).ToString();
}

<h2>Repair Requests</h2>

<table class="table">
    <tr>
        <th>
            <a href="javascript: applysort('@tableName','@requestColumnName.firstname', '@newSortDirection')">
                First Name
                <span class="glyphicon @(sortColumn == requestColumnName.firstname ? sortIconClass : "glyphicon-sort")" aria-hidden="true"></span>
            </a>
        </th>
        <th>
            <a href="javascript: applysort('@tableName','@requestColumnName.lastname', '@newSortDirection')">
                Last Name
                <span class="glyphicon @(sortColumn == requestColumnName.lastname ? sortIconClass : "glyphicon-sort")" aria-hidden="true"></span>
            </a>
        </th>
        <th>
            Request Number
        </th>
        <th>
            Attachment
        </th>
        <th>
            <a href="javascript: applysort('@tableName','@requestColumnName.contact', '@newSortDirection')">
                Contact
                <span class="glyphicon @(sortColumn == requestColumnName.contact ? sortIconClass : "glyphicon-sort")" aria-hidden="true"></span>
            </a>
        </th>
        <th>
            Location
        </th>
        <th>
            <a href="javascript: applysort('@tableName','@requestColumnName.company', '@newSortDirection')">
                Company
                <span class="glyphicon @(sortColumn == requestColumnName.company ? sortIconClass : "glyphicon-sort")" aria-hidden="true"></span>
            </a>
        </th>
        <th>
            Click Details for Comments
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request_number)
            </td>
            <td>
                <a href="~/UserUploads/@(item.attachment)" target="_blank">@item.attachment</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company)
            </td>
            <td>
                @Html.ActionLink("Create", "Create", new { id = item.Request_number }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Request_number }) |
                @Html.ActionLink("Details", "Details", new { id = item.Request_number }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Request_number })
            </td>
        </tr>
    }

</table>
