@model IEnumerable<ArizonaSignCompany.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Repair Requests</h2>

<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Type
        </th>
        <th>
            Description
        </th>
        <th>
            Attachment
        </th>
        <th>
            Contact
        </th>
        <th>
            Location
        </th>
        <th>
            Company
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            <a href="~/UserUploads/@(item.attachment)" target="_blank">@item.attachment</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company)
        </td>
        <td>
            @Html.ActionLink("Create", "Create", new { id = item.Request_number }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.Request_number }) |
            @Html.ActionLink("Details", "Details", new { id = item.Request_number }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Request_number })
        </td>
    </tr>
}

</table>
